@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.link:hover {
  color: white;
  background-color: rgb(99 102 241);
  opacity: 1;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}

/* List */
.demo-loadmore-list {
  min-height: 350px;
}

/* Swal */
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
/* End Swal */

/* Loading */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #514b82;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
  100% {
    inset: 0;
  }
}
/* End Loading */

/* Loading Universal */
.loader-univ {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}
/* End Loading Univ */

/* Modal */
.modalStyle .ant-modal-content {
  font-family: "Poppins", sans-serif;
  background-color: white;
}
/* End Modal */

/* Scrollbar */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollable-element {
  scrollbar-color: #6366f1 lightgray;
}
/* End Scrollbar */

/* Loader Download */
.loader-download {
  width: fit-content;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;
  color: #0000;
  background: linear-gradient(
      90deg,
      rgb(236 72 153 /1) calc(50% + 0.5ch),
      #ffff 0
    )
    right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: l7 2s infinite steps(11);
}
.loader-download:before {
  content: "Waiting ..";
}
@keyframes l7 {
  to {
    background-position: left;
  }
}
/* End Loader Download */

/* .modal-backdrop {
  background-color: red;
} */
